div.auth-container {
    display: flex;
    justify-content: center;
}

form {
    background-color: #101216;
    padding: 50px;
    height: 350px;
    width: 250px;
}

.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.auth-header > i.fa-people-group {
    font-size: 40px;
}

h2.auth-h2 {
    margin: 10px 0 0 0;
}

p.auth-under-h2-text > span {
    color: #3f7a8c;
}

.auth-labels-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.auth-inputs {
    padding: 8px;
}

input {
    color: #101216;
    border-radius: 3px;
    border: 1px transparent solid;
    margin-top: 3px;
}

form > button {
    margin-top: 20px;
    width: -webkit-fill-available;
    background-color: #3f7a8c;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

p.auth-under-h2-text {
    margin: 20px 0 20px 0;
    font-size: 16px;
    text-align: center;
}

a#signin-link {
    cursor: pointer;
}
